# ENV: APP_ENV
APP_ENV=local

# ENV: FRONTEND_URL
FRONTEND_URL=http://localhost:5173

# ENV: BACKEND_URL
BACKEND_URL=http://localhost:8000

# ENV: SUPABASE_URL
SUPABASE_URL=

# ENV: SUPABASE_ANON_KEY
SUPABASE_ANON_KEY=

# ENV: SUPABASE_SERVICE_ROLE_KEY
SUPABASE_SERVICE_ROLE_KEY=

# ENV: AT_API_KEY
AT_API_KEY=

# ENV: AT_USERNAME
AT_USERNAME=

# ENV: AT_SENDER_ID
AT_SENDER_ID=

# ENV: ADMIN_NOTIFICATION_PHONE
ADMIN_NOTIFICATION_PHONE=

# ENV: PAYSTACK_SECRET_KEY
PAYSTACK_SECRET_KEY=

# ENV: PAYSTACK_PUBLIC_KEY
PAYSTACK_PUBLIC_KEY=
